#Библиотеки JS
/frontend/node_modules

#Базы данных
/database
db.sqlite3

#Архивные данные
archive

#Окружение Python
**/env
*.env

#Файлы миграций django
**/migrations

#Кэш Python
*.pyc


#Docker
docker-compose.yml
Dockerfile
.dockerignore


.DS_Store