#Библиотеки JS
/frontend/node_modules

#Базы данных
/database
db.sqlite3
data

#Архивные данные
archive

#NGINX
nginx

#Окружение Python
**/env
*.env
*env.prod
*env.prod.db


#Файлы миграций django
**/migrations

#Кэш Python
*.pyc


#Docker
docker-compose.yml
docker-compose.prod.yml
Dockerfile
Dockerfile.prod
.dockerignore
entrypoint.sh
entrypoint.prod.sh

.DS_Store
